{% extends 'base.html' %}
{% block title %}Home{% endblock title %} 
{% block homeactive%}active{% endblock homeactive%}
{% block CSSBlock %}
<link rel="stylesheet" href="/static/css/stylehome.css">
{% endblock CSSBlock %}
{% block body %}

<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">मैफलीत माझ्या..</h1>
    <p class="lead">
    <div class="Engintro">
      First of all, Let me tell u one thing...
      When I decided to create a blog for my Gazals and Poems, I had just one thing in my mind..
    </div>
    <div class="marintro">
      कदम बढते है तो फासले भी कम होते होंगे |
      उम्मीद का दिया जलता है तो हौसले भी बढते होंगे |
      आज इस समंदर मी अपना नाम नाही तो क्या हुआ,
      कल के शबनम पार अपने भी नाम खिलते होंगे |
    </div>
    </p>
    {% for post in post %}
    <div class="row">
      <div class="col-md-3">
        <div class="card-body">
          <h5 class="card-title">{{post.postTitle}}</h5>
          <p class="card-text">{{post.postContent}}</p>
          {% if user.is_authenticated %}
          <a href="/blog/{{post.postSlug}}" class="btn btn-outline-success"
            >Continue Reading</a>
          {% else %}
          <a href="/blog/{{post.postSlug}}" class="btn btn-outline-success disabled"
            >Login or Signup</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<hr>
{% endblock body %}
